/*.navigation {
    padding: 20px;
    height: 30px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #000018;
}*/

img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 400px;
    
}

/* .Page {
    display: grid;
    grid-template-rows: 1000px;
} */
