body {
    background-color: #45050D;
    /* background-image: url(resources\esileht3.png); */
    /* background-size: cover; */
    margin: 0;
    font-family: 'Zen Dots', sans-serif;
    font-size: 12 ;
}

header {
    text-align: center;
}

h1 {
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    color: #E17808;
    text-align: center;
    font-size: 50px;
    font-family: 'Zen Dots', sans-serif;
    background-color: #000018;
    z-index: 1;
}

p {
    color:antiquewhite;
}

.taustavarviga {
    font-size: larger;
    text-align: center;
    padding-top: 20px;
    height: 40px;
    background-color: rgba(95, 131, 119, 0.5);
    
}

footer {
    position: relative;
    bottom: 0vh;
    width: 100%;
    background-color: #000018;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

a {
    font-size: 20px;
    color: antiquewhite;
    text-decoration: none;
    text-align: center;
}

a:hover {
    background-color: rgb(95, 131, 119);
    height: max-content;
}

.navigation {
    padding: 20px;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #000018;
}