body {
  background: url("https://wallpaperaccess.com/full/1588284.jpg"), url("https://wallpaperset.com/w/full/5/7/4/84455.jpg");
  background-size: 60% 100%, cover;
  background-repeat: repeat-y, no-repeat;
  background-position: center, top;
  
}

h1 {
  color: #45050D;
  text-align: center;
  font-size: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: underline;
  margin-bottom: 0;
  margin-top: 60px;
}

button {
  background-color: #E17808;
  margin: left 50%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 4px;
  display: grid;
  border: none;
  color:#f5e7c3;
  padding: 15px 65px;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  
}

button:hover {
  background-color: #BF4901;

}

.row {
  display: grid;
  grid-template-columns: 40% 30%;
  margin-left: 24%;
  margin-top: 15px;
}
.column {
  padding: 16px;
  height: 1000px;
  margin: 10px
}

p {
  color:rgb(248, 138, 3)
}

footer {
  background-color: #3d3d46 ;
  display: flex;
  gap: 50px;
  justify-content: center;
}